{% extends 'base.html' %}

{% block subtitle %}
  {% trans %} Assessment {% endtrans %}
{% endblock subtitle %}

{% block top_content %}
{% endblock %}

{% block main_content %}

<h1>Judy Qiu</h1>
<p>
</p>


<h1>Steven Kutkoski</h1>
<p> 
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Steven's expertise was essential for the success of our project.  His understanding of Django and web-based Python applications allowed us to manipulate and customize the course to a level which would have not been possible in his absence.  He worked with the low and mid level functions of the MOOC and provided knowledge to the rest of the team on how to safely edit handlers and create page extensions.  Furthermore, he looked into and learned to use the database that Google provided, adding features that facilitate customizability.
</p>

<h1>Clayton Sheets</h1>
<p>
Javascript and jQuery
CSS and HTML
Team Planning and Coordination
</p>

<h1>Hayley Plageman</h1>
<p>
Graphic Design
Design/Layout
CSS and HTML
Hayley, a junior in Informatics, brought an expertise in graphic design that transformed our functional but crude interface into an elegant and sophisticated design.  Her knowledge in Human Computer Interaction was crucial for the development of our project.  Her expertise in HTML and CSS was also crucial in our first steps in developing the flow of our website by developing the navigation.  Her primary focus was the asthetic appeal to draw students' interest into the MOOC.
</p>

<h1>Jake Pusateri</h1>
<p>
Homework
</p>


<h1>Supun Kamburugamuva</h1>
<p>
</p>


{% endblock main_content%}