{% extends 'base.html' %}

{% block subtitle %}
  {% trans %} Assessment {% endtrans %}
{% endblock subtitle %}

{% block top_content %}
{% endblock %}

{% block main_content %}

<style>
  h1 { padding: .2em; margin: 0; }
  #playlist { float:left; width: 500px; margin-right: 2em; }
  #droppedItems { width: 200px; float: left; margin-top: 1em; }
  /* style the list to maximize the droppable hitarea */
  #droppedItems ol { margin: 0; padding: 1em 0 1em 3em; }
</style>
<script>
  $(function() {
  $( "#playlistItems" ).accordion();
  $( "#playlistItems li" ).draggable({
  appendTo: "body",
  helper: "clone"
  });
  $( "#droppedItems ol" ).droppable({
  activeClass: "ui-state-default",
  hoverClass: "ui-state-hover",
  accept: ":not(.ui-sortable-helper)",
  drop: function( event, ui ) {
  $( this ).find( ".placeholder" ).remove();
  $( "<li></li>" ).html( ui.draggable.html() ).appendTo( this );
  }
  }).sortable({
  items: "li:not(.placeholder)",
  sort: function() {
  // gets added unintentionally by droppable interacting with sortable
  // using connectWithSortable fixes this, but doesn't allow you to customize active/hoverClass options
  $( this ).removeClass( "ui-state-default" );
  }
  });
  });
</script> 

<style>
  
  li { list-style-type:none;}
  #playlist li {font-size: 16px;}
  h1 { padding: .2em; margin: 0; }
  #playlist { float:left; width: 300px; margin-left: 6em; margin-right: 2em; margin-top: 5em; }
  #droppedItems { width: 380px; height: 400px; float: left; margin-top: 5em; }
  /* style the list to maximize the droppable hitarea */
  #droppedItems ol { margin: 0; padding: 1em 0 1em 3em; }
  
  
  #screenshot{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
	}
</style>

<script>

 
/*
 * Url preview script 
 * powered by jQuery (http://www.jquery.com)
 * 
 * written by Alen Grakalic (http://cssglobe.com)
 * 
 * for more info visit http://cssglobe.com/post/1695/easiest-tooltip-and-image-preview-using-jquery
 *
 */
 
this.screenshotPreview = function(){	
	/* CONFIG */

		xOffset = 10;
		yOffset = 30;

		// these 2 variable determine popup's distance from the cursor
		// you might want to adjust to get the right result

	/* END CONFIG */
	$("a.screenshot").hover(function(e){
		this.t = this.title;
		this.title = "";	
		var c = (this.t != "") ? "<br/>" + this.t : "";
		$("body").append("<p id='screenshot'><img src='"+ this.rel +"' alt='url preview' />"+ c +"</p>");								 
		$("#screenshot")
			.css("top",(e.pageY - xOffset) + "px")
			.css("left",(e.pageX + yOffset) + "px")
			.fadeIn("fast");						
    },
	function(){
		this.title = this.t;	
		$("#screenshot").remove();
    });	
	$("a.screenshot").mousemove(function(e){
		$("#screenshot")
			.css("top",(e.pageY - xOffset) + "px")
			.css("left",(e.pageX + yOffset) + "px");
	});			
};


// starting the script on page load
$(document).ready(function(){
	screenshotPreview();
});
  
  </script>
  
  
<script>
  $(function() {
  $( document ).tooltip();
  });
</script> 

<div style="margin-top:40px;">
{% if hasList %}
{% endif %}
</div>





<div id="playlist" style="color: #fff;">
  <h1 class="ui-widget-header" style="color: #fff; font-size: 22px;">Lessons</h1>
  <div id="playlistItems">    
    <h2><a href="#" style="color: #fff;">Unit 1</a></h2>
    <div>
      <ul> 
	<li><label title="description">1.1 Introduction<input name="plist" type="hidden" value="1.1 Introduction"></li></label>
      </ul> 
    </div>
    <h2><a href="#" style="color: #fff;">Unit 2</a></h2>
    <div>
      <ul> 
	<li><label title="description">2.1 VMware <input name="plist" type="hidden" value="2.1 VMware"></li></label>
	<li><label title="description">2.2 Amazon EC2 <input name="plist" type="hidden" value="2.2 Amazon EC2"></li></label>
	<li><label title="description">2.3 Microsoft Azure <input name="plist" type="hidden" value="2.3 Microsoft Azure"></li></label>
	<li><label title="description">2.4 Eucalyptus <input name="plist" type="hidden" value="2.4 Eucalyptus"></li></label>
	<li><label title="description">2.5 Nimbus <input name="plist" type="hidden" value="2.5 Nimbus"></li></label>
	<li><label title="description">2.6 Open Stack <input name="plist" type="hidden" value="2.6 Open Stack"></li></label>
	<li><label title="description">2.7 Open Nebula <input name="plist" type="hidden" value="2.7 Open Nebula"></li></label>
      </ul> 
    </div>
    <h2><a href="#" style="color: #fff;">Unit 3</a></h2>
    <div>
      <ul> 
	<li><label title="description">3.1 Google BigTable <input name="plist" type="hidden" value="3.1 Google BigTable"></li></label>
	<li><label title="description">3.2 Hadoop HBase <input name="plist" type="hidden" value="3.2 Hadoop HBase"></li></label>
	<li><label title="description">3.3 Hadoop Hive <input name="plist" type="hidden" value="3.3 Hadoop Hive"></li></label>
      </ul> 
    </div>
    <h2><a href="#" style="color: #fff;">Unit 4</a></h2>
    <div>
      <ul> 
	<li><label title="description">4.1 Google Sawzall <input name="plist" type="hidden" value="4.1 Google Sawzall"></li></label>
	<li><label title="description">4.2 Hadoop Pig <input name="plist" type="hidden" value="4.2 Hadoop Pig"></li></label>
      </ul> 
    </div>
    <h2><a href="#" style="color: #fff;">Unit 5</a></h2>
    <div>
      <ul> 
	<li><label title="description">5.1 Hadoop on Multicore <input name="plist" type="hidden" value="5.1 Hadoop on Multicore"></li></label>
	<li><label title="description">5.2 Hadoop on GPU <input name="plist" type="hidden" value="5.2 Hadoop on GPU"></li></label>
	<li><label title="description">5.3 DryadLINQ/Dryad <input name="plist" type="hidden" value="5.3 DryadLINQ/Dryad"></li></label>
	<li><label title="description">5.4 Twister Iterative <input name="plist" type="hidden" value="5.4 Twister Iterative"></li></label>
	<li><label title="description">5.5 MapReduce <input name="plist" type="hidden" value="5.5 MapReduce"></li></label>
	<li><label title="description">5.6 Pregel <input name="plist" type="hidden" value="5.6 Pregel"></li></label>
      </ul> 
    </div>
    <h2><a href="#" style="color: #fff;">Unit 6</a></h2>
    <div>
      <ul> 
	<li><label title="description">6.1 Blast <input name="plist" type="hidden" value="6.1 Blast"></li></label>
	<li><label title="description">6.2 KMeans <input name="plist" type="hidden" value="6.2 KMeans"></li></label>
	<li><label title="description">6.3 Page Rank <input name="plist" type="hidden" value="6.3 Page Rank"></li></label>
      </ul> 
    </div>    

  </div>
</div>

<div id="droppedItems">
  <h1 class="ui-widget-header" style="color: #fff; font-size: 22px;">Playlist (drag lessons to box)</h1>
  <div class="ui-widget-content">
    <form method="post">
      <ol>
		<li> <br /> </li>
		<li> <br /> </li>
		<li> <br /> </li>
      </ol>
  </div>
<table style="border: 0px solid transparent">
	<tr style="border: 0px solid transparent">
		<td style="border: 0px solid transparent">
		   <input type="submit" value="Save">

			<form><input type=button value="Clear" onClick="window.location.reload()"></form>
		</div>
		</td>
	</tr> 
	<tr style="border: 0px solid transparent">
		<td style="border: 0px solid transparent">
		<div style="margin-top:5px;">
		{% if hasList %}
		<form method="post">
		<input type="submit" value="Delete Playlist">
		</form>
		{% endif %}
		</div>
		</td>
	</tr>
</table>





<div style="padding: 330px;">
</div>


{% endblock main_content%}
